html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html{font:100%/1.5 'Source Sans Pro','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;box-sizing:border-box;overflow-y:scroll;}*{box-sizing:inherit;}*:before{box-sizing:inherit;}*:after{box-sizing:inherit;}body{color:hsla(0,0%,0%,0.8);font-family:'Source Sans Pro','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:400;word-wrap:break-word;font-kerning:normal;-moz-font-feature-settings:"kern", "liga", "clig", "calt";-ms-font-feature-settings:"kern", "liga", "clig", "calt";-webkit-font-feature-settings:"kern", "liga", "clig", "calt";font-feature-settings:"kern", "liga", "clig", "calt";}img{max-width:100%;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}h1{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0.375rem;padding-left:0;padding-right:0;padding-top:0;margin-bottom:2.25rem;color:inherit;font-family:'Cabin','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:500;text-rendering:optimizeLegibility;font-size:2rem;line-height:1.1;border-bottom:1px solid rgba(0, 0, 0, 0.2);}h2{margin-left:0;margin-right:0;margin-top:1.5rem;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0.75rem;color:inherit;font-family:'Cabin','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:500;text-rendering:optimizeLegibility;font-size:1.51572rem;line-height:1.1;}h3{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;color:inherit;font-family:'Cabin','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:500;text-rendering:optimizeLegibility;font-size:1.31951rem;line-height:1.1;}h4{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;color:inherit;font-family:'Cabin','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:500;text-rendering:optimizeLegibility;font-size:1rem;line-height:1.1;}h5{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;color:inherit;font-family:'Cabin','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:500;text-rendering:optimizeLegibility;font-size:0.87055rem;line-height:1.1;}h6{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;color:inherit;font-family:'Cabin','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;font-weight:500;text-rendering:optimizeLegibility;font-size:0.81225rem;line-height:1.1;}hgroup{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}ul{margin-left:1.5rem;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;list-style-position:outside;list-style-image:none;}ol{margin-left:1.5rem;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;list-style-position:outside;list-style-image:none;}dl{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}dd{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}p{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}figure{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}pre{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;font-size:0.85rem;line-height:1.5rem;}table{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;font-size:1rem;line-height:1.5rem;border-collapse:collapse;width:100%;}fieldset{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}blockquote{margin-left:1.5rem;margin-right:1.5rem;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;padding:1em;margin:0 0 1.5rem 0;color:#555;background:#f6f6f6;border-left:4px solid #ccc;}form{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}noscript{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}iframe{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}hr{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:calc(1.125rem - 1px);background:hsla(0,0%,0%,0.2);border:none;height:1px;}address{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:1.125rem;}b{font-weight:700;}strong{font-weight:700;}dt{font-weight:700;}th{font-weight:700;}li{margin-bottom:0.375rem;}ol li{padding-left:0;}ul li{padding-left:0;}li > ol{margin-left:1.5rem;margin-bottom:calc(1.125rem / 2);margin-top:calc(1.125rem / 2);}li > ul{margin-left:1.5rem;margin-bottom:calc(1.125rem / 2);margin-top:calc(1.125rem / 2);}blockquote *:last-child{margin-bottom:0;}li *:last-child{margin-bottom:0;}p *:last-child{margin-bottom:0;}li > p{margin-bottom:calc(1.125rem / 2);}code{font-size:0.85rem;line-height:1.5rem;background:rgba(0, 0, 0, 0.05);padding:0 0.25em;border-radius:3px;border:1px solid rgba(0, 0, 0, 0.1);}kbd{font-size:0.85rem;line-height:1.5rem;}samp{font-size:0.85rem;line-height:1.5rem;}abbr{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;}acronym{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;}abbr[title]{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;text-decoration:none;}thead{text-align:left;}td,th{text-align:left;border-bottom:1px solid hsla(0,0%,0%,0.12);font-feature-settings:"tnum";-moz-font-feature-settings:"tnum";-ms-font-feature-settings:"tnum";-webkit-font-feature-settings:"tnum";padding-left:1rem;padding-right:1rem;padding-top:0.75rem;padding-bottom:calc(0.75rem - 1px);}th:first-child,td:first-child{padding-left:0;}th:last-child,td:last-child{padding-right:0;}a{color:#007a3d;text-decoration:none;}

/*       Header     */
.header-menu-btn[type='button'] {
  display: none;
  padding: 0.25em 0.5em;
  appearance: none;
  border: 0;
  background: none;
  color: white;
  cursor: pointer;
}

.header-menu-btn[type='button']:hover {
  background-color: #666;
}

@media (max-width: 640px) {
  .header-menu-btn[type='button'] {
    display: block;
  }
}

/*    Page Wrapper  */

.page-wrapper {
  display: flex;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 640px) {
  .page-wrapper {
    flex-direction: column;
  }
}

/*      Community Links    */
.community-links {
  display: block;
}

.community-links.mobile {
  display: none;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

@media (max-width: 640px) {
  .community-links {
    display: none;
  }

  .community-links.mobile {
    display: flex;
  }
}

/*      Site Nav    */
#site-nav {
  margin-right: 2em;
}

#site-nav > ul {
  position: sticky;
}

@media (max-width: 640px) {
  #site-nav {
    display: none;
    margin-right: 0;
  }

  #site-nav > ul {
    position: static;
  }

  #site-nav.opened {
    display: block;
  }
}

/*      AnchorJS    */
.anchorjs-link {
  color: #aaa;
  transition: margin-left 0.25s linear;
}
.anchorjs-link:hover {
  color: #007a3d;
}
*:hover > .anchorjs-link {
  transition: color 0.25s linear;
  margin-left: -1.125em;
}

.false {
  background: #d04747;
  color: white;
}

.true {
  background: #a3edac;
}

table.research td:not(.true):not(.false) {
  background: #ffffca;
}

table.nowrap-first-column td:nth-child(1):not(.false):not(.true) {
  background: initial;
}

/* Should be applied to a td/th 
if you want to have it be the max-content
width */
table.research .nowrap,
table.nowrap-first-column td:nth-child(1) {
  width: 1%;
  white-space: nowrap;
}

table.research td.center,
table.research th.center {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}
